* {
    margin: 0%;
    padding: 0px;
}
header {

    background-color: #171a21;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding-top: 5%;
    filter: drop-shadow(3px 3px 3px #1b2838);
}
main {
    margin: 0%;
    background-color: #2a475e;
    display: inline-block;
    width: 100%;
    padding: 0px;
}
body {
    margin: 0%;
}

h1 {
    color: #c7d5e0;
    text-align: left;
    display: flex;
    float: left;
    margin-left: 19%;
    
}
h1:hover{
    color:rgb(88, 88, 88);
}
a{
    text-align: center;
    margin-left: 10px;
    color: #c7d5e0; 
}
a:hover{
    color: rgb(88, 88, 88);
}
li:hover{
    color: rgb(88, 88, 88);
}
ul {
    float: left; 
    padding-top: 10px;
    margin-left: 50px;
}
li{
    display: inline-block;
    color: #c7d5e0;
    
}
nav
{
    display: inline;
}
p{
    color: #c7d5e0;
    padding: 60px;   
    text-align: center;
    
    

}
.game-of-year {
 float: left;
 margin: 20px;
 filter: drop-shadow(3px 3px 3px #000000);
}
.shop{
    width: 500px;
    height: max-content;
    background-color: #1b2838;
    margin: 50px;
    margin-left: 180px;
    float: left;
    display: block;
}
h2{
    color: #c7d5e0;
    text-align: center;
    margin-top: 50px;
    background-color: #375786;
    padding: 50px;
    box-shadow:3px 3px 3px #1b2838;
    margin-bottom: 30px;
}

.list-of-games{
    width: 100%;
    background-color: #1b2838;
    display: inline-block;
    margin-top: 75px;
    margin-bottom: 20px;
}
h3{
    
    color: #c7d5e0;
    margin-top: 50px;
    margin-left: 200px;
    height: min-content;
    display: block;    
}
div.scroll-shop{
    background-color: #171a21;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;    
    margin-bottom: 50px;
    padding: 20px;
}

div.scroll-shop a{
    color: #c7d5e0;
    text-align: center;
    padding: 20px;
}

div.scroll-shop a:hover{
    background-color: #1f232c;
}
.shop-img{
    display: inline-block;
    min-width: 200px;
    min-height: 100px;
    width: 200px;
    height: 100px;
    margin: 10px;
    box-shadow:3px 3px 3px #000000;
    transition: transform .2s;
}
.shop-img:hover{
    transform: scale(1.5);
}
foot-text{
    background-color: #171a21;
    color: #c7d5e0;
}
footer{
    background-color: #171a21;
}
::-webkit-scrollbar{
    width: 15px;
    background: #2a475e; 
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(3, 0, 49); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0e1014; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
